---
import Link from "./ui/link.astro";
---

<!-- <div class="mt-13.5 md:mt-21 relative rounded-lg overflow-hidde">
  <video
  width="100%"
  height="auto"
  autoplay
  muted
  loop
  playsinline
  >
  <source src="https://assets.bloop.ai/bloop_gpt4.mp4" type="video/mp4" />
</video>

</div> -->

<div class="max-w-6xl mx-auto mt-13.5 md:mt-21 mb-8 relative rounded-lg overflow-hidden">
  <iframe 
    width="100%" 
    height="600" 
    src="https://www.youtube.com/embed/eqxl8msiUCo" 
    title="A Super Powerful AI ChatBot Plugin - Integrating ChatGPT, Bing Chat, and Google Bard into WhatsApp" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
  </iframe>
</div>