---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Easy Integration",
    description:
      "No coding knowledge is required to easily integrate ChatGPT into your favorite social platform and start chatting.",
    icon: "bx:bxs-stopwatch",
  },
  {
    title: "Fast Responses",
    description:
      "Experience swift and precise ChatGPT replies, enhancing communication and productivity.",
    icon: "bx:bxs-chat",
  },
  {
    title: "Customizable",
    description:
      "You can customize the responses to your messages to better meet your needs and preferences.",
    icon: "bx:bxs-pen",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2
    class="mt-16 text-2xl lg:text-3xl font-bold lg:tracking-tight text-pink-500 text-center">
    A Powerful ChatGPT Extension
  </h2>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-4">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start bg-pink-100 p-6 rounded-lg">
        <div class="mt-1 bg-pink-500 rounded-full p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg text-pink-500">{item.title}</h3>{" "}
          <p class="mt-2 leading-relaxed text-gray-600">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
