---
import { Picture } from "@astrojs/image/components";
import showImage from "assets/show.png";
---

<section class="flex justify-center items-center bg-gray-50 mt-16 rounded-lg">
    <div class="container mx-auto px-8">
      <h1 class="text-4xl font-bold mb-8 text-center mt-8">How to Use ChatGPT For WhatsAPP</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div>
          <Picture
            src={showImage}
            alt="use chatgpt in whatsapp"
            widths={[200, 300, 500]}
            sizes="(max-width: 680px) 100vw, 520px"
            loading="eager"
            format="avif"
          />
        </div>
        <div class="space-y-4">
          <div class="py-4">
            <h2 class="text-xl font-semibold text-pink-500 mb-2">
              Step 1: Install the Extension
            </h2>
            <ul class="list-disc list-inside">
              <li>
                Install the extension for your preferred browser (Chrome, Firefox,
                or Edge).
              </li>
            </ul>
          </div>
  
          <div class="py-4">
            <h2 class="text-xl font-semibold text-pink-500 mb-2">
              Step 2: Choose Your AI Source and Log In
            </h2>
            <ul class="list-disc list-inside">
              <li>
                Select the AI source that meets your needs (ChatGPT Web, ChatGPT
                API, Bing Chat, or Google Bard).
              </li>
              <li>Log in to the corresponding website.</li>
              <li>
                For example, if you choose ChatGPT Web, log in to
                https://chat.openai.com.
              </li>
            </ul>
          </div>
  
          <div class="py-4">
            <h2 class="text-xl font-semibold text-pink-500 mb-2">
              Step 3: Start Chatting on WhatsApp Web
            </h2>
            <ul class="list-disc list-inside">
              <li>
                To use the AI in a private chat, type "@gpt" followed by your
                query (e.g. "@gpt tell me a joke").
              </li>
              <li>
                In group chats, use "@botname hello". The AI will automatically
                generate a response based on your query.
              </li>
            </ul>
          </div>
          <div class="flex justify-center items-center">
            <a href="https://wa.me/8618601586458" class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 rounded-lg">
                Try Chatbot
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  